.tilted-card-figure {
	position: relative;
	perspective: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
	margin: 0px;
	padding: 0px;
}

.tilted-card-figure:active {
	transform: scale(0.98);
}

.tilted-card-mobile-alert {
	position: absolute;
	top: 1rem;
	text-align: center;
	font-size: 0.875rem;
	display: none;
}

@media (max-width: 640px) {
	.tilted-card-mobile-alert {
		display: block;
	}
	.tilted-card-caption {
		display: none;
	}
}

.tilted-card-inner {
	position: relative;
	transform-style: preserve-3d;
}

.tilted-card-img {
	position: absolute;
	top: 0;
	left: 0;

	object-fit: cover;
	border-radius: 15px;
	will-change: transform;
	transform: translateZ(0);

	border-radius: 15px;
	border-width: 5px;
	border-style: dotted;
	border-color: transparent;
}

@keyframes gradientBorder {
	0% {
		border-image-source: linear-gradient(45deg, #ff00ff, #ff9900);
	}
	25% {
		border-image-source: linear-gradient(90deg, #ff9900, #00ff99);
	}
	50% {
		border-image-source: linear-gradient(135deg, #00ff99, #0099ff);
	}
	75% {
		border-image-source: linear-gradient(180deg, #0099ff, #ff00ff);
	}
	100% {
		border-image-source: linear-gradient(225deg, #ff00ff, #ff9900);
	}
}

.titled-card-img-selected {
	position: absolute;
	top: 0;
	left: 0;

	object-fit: cover;
	/* border-radius: 15px; */
	will-change: transform;
	transform: translateZ(0);

	border-width: 5px;
	border-style: dotted;
	border-image-slice: 1;
	border-image-source: linear-gradient(45deg, #ff00ff, #ff9900);

	animation: gradientBorder 3s linear infinite;
}

.tilted-card-overlay {
	position: absolute;
	right: -15px;
	bottom: -15px;
	z-index: 10;
	will-change: transform;
	transform: translateZ(60px);
	/* Additional styling as needed */
}

.tilted-card-title {
	font-family: "Hanken Grotesk";
	font-size: 1.5rem;
	font-weight: bold;
	color: white;
	letter-spacing: 0.5px;
	text-overflow: ellipsis;
}

/* Dynamically reduce font size for long titles */
.tilted-card-title.long-title {
	font-size: 1.2rem;
	white-space: nowrap; /* Prevents text from wrapping */
	overflow: hidden; /* Hides the overflow */
	text-overflow: ellipsis; /* Adds "..." if text overflows */
	max-width: 90%; /* Adjusts width to prevent overflow */
}

.tilted-card-title.very-long-title {
	font-size: 1rem;
	white-space: nowrap; /* Prevents text from wrapping */
	overflow: hidden; /* Hides the overflow */
	text-overflow: ellipsis; /* Adds "..." if text overflows */
	max-width: 90%; /* Adjusts width to prevent overflow */
}

.tilted-card-title-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	top: 106%;
}

.tilted-card-caption-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	top: 115%;
}

.tilted-card-caption {
	font-family: "Hanken Grotesk";
	font-size: 1.2rem;
	font-weight: bold;
	color: #9292a4;
	letter-spacing: 0.5px;
}

.titled-card-caption2 {
	font-family: "Hanken Grotesk";
	font-size: 1.2rem;
	font-weight: bold;
	color: #c086ff;
	letter-spacing: 0.5px;
}

@media (max-width: 768px) {
	.tilted-card-figure {
		transform: scale(0.7);
		margin-top: -80px;
	}
	.tilted-card-figure:active {
		transform: scale(0.68);
	}
}

@media (max-width: 550px) {
	.tilted-card-figure {
		transform: scale(0.6);
	}
	.tilted-card-figure:active {
		transform: scale(0.58);
	}
	.tilted-card-title {
		font-size: 1.8rem;
	}

	/* Dynamically reduce font size for long titles */
	.tilted-card-title.long-title {
		font-size: 1.5rem;
	}

	.tilted-card-title.very-long-title {
		font-size: 1.2rem;
	}
	.tilted-card-overlay {
		transform: scale(1.5);
	}
}

@media (max-width: 390px) {
	.tilted-card-figure {
		transform: scale(0.55);
	}
	.tilted-card-figure:active {
		transform: scale(0.54);
	}

	.tilted-card-title {
		font-size: 2.2rem;
	}

	/* Dynamically reduce font size for long titles */
	.tilted-card-title.long-title {
		font-size: 1.3rem;
	}

	.tilted-card-title.very-long-title {
		font-size: 1.1rem;
	}

	.tilted-card-overlay {
		transform: scale(1.5);
	}

	.titled-card-caption2 {
		font-size: 1.5rem;
	}
}
