.parallax {
	position: relative;
	overflow: hidden;
	width: 100vw;
}

.scroller {
	display: flex;
	white-space: nowrap;
	align-items: center;
	gap: 30px;
}

.scroller img {
	/* max-height: 200px; */
	object-fit: contain;
	border-radius: 30px;
}
