.event-grid {
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	width: 90%;
	gap: 50px;
	column-gap: 50px;
}

/* Applies a 100px top margin to every second grid item (second column) */
.event-grid > div:nth-child(2n) {
	margin-top: 100px;
}

.e-heading {
	font-family: "Saira";
	font-size: 3.2rem;
	font-weight: 500;
	width: 100%;
	text-align: left;
	line-height: 60px;
}

.e-section-headings {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.passcards-holder {
	display: flex;
	gap: 80px;
	align-items: flex-end;
}

.gooey-menu {
	margin-top: 150px;
}
