.faq-section {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5%;
}

.left-faqs-section {
	flex: 1;
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
	padding-left: 10%;
}

.right-faqs-section {
	flex: 3;
	align-self: center;
	padding-right: 10%;
}

.heading {
	font-family: "Saira";
	font-size: 3.2rem;
	font-weight: 500;
	width: 80%;
	text-align: left;
	line-height: 60px;
}

@media (max-width: 768px) {
	.faq-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0%;
	}

	.left-faqs-section {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: start;
		flex-direction: column;
		padding-left: 10%;
		padding-top: 15%;
	}

	.right-faqs-section {
		flex: 1;
		align-self: center;
		padding-right: 0%;
		justify-content: start;
	}
}
